//---------------------------------------------------------------------------
//
// Name:        Cliente2App.rc
// Author:      Alberto
// Created:     12/05/2014 12:38:02 p.m.
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
